
   
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 100%; 
    padding: 10px; 
    box-sizing: border-box; /
}

.left {
    display: flex;
    align-items: center;
    gap: 150px;
    
}

.left .search {
    margin-right: 40px;
    width: 100%;              
    padding: 10px 50px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/svgs/solid/search.svg') no-repeat right 10px center;
    background-size: 20px;
  }
  
.search::placeholder {
    color: #777;
    font-style: italic;
}
.search-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }


.search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);  
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
.search-btn i {
    font-size: 20px;
    color: #333;
  }
  

.left nav ul {
    display: flex;
    list-style-type: none;
  }
  
.left nav ul li {
    margin-right: 20px;   
    margin-left: 30px;           
  }
  
.left nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
  }
  

.logo {
    flex-grow: 1;                   
    text-align: center;
  }
  
.logo img {
    width: 150px;   
    margin-right: 10px;
    margin-left: 10px;               
  }
  
 
.right {
    display: flex;
    align-items: center;   
    
           
  }
  
.right nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;             
  }
  
.right nav ul li {
    margin-left: 20px; 
    margin-left: 30px;             
  }
  
.right nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
  }
  
.right .user-panel a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
    padding: 5px 10px;
  }




.product-card {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 15px;
}

.product-item {
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
}


.buttons {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 auto; 
    max-width: 150px;
    
}

#element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#populære-produkter {
    font-size: 30px;
    position: relative;
    height: 100vh;
    
}


  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
 
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
 
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
 
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
 
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


reviews
.checked {
    color: orange;
  }





