
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f8f8f8;
    flex-wrap: wrap;
}
.header-left {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    gap: 15px;
}

.logo img {
    max-height: 50px;
    
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
  } 

.search-input {
    width: 100%;
    padding: 10px 15px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #aaa;
    pointer-events: none;
}

.header-center {
    text-align: center;
    flex: 0 0 auto;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
    gap: 15px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #007bff;
}


.user-panel {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-panel a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.user-panel a:hover {
    color: #007bff;
}

@media screen and (min-width: 768px) {
    .header {
        flex-wrap: nowrap;
    }

    .search-container {
        max-width: 300px;
    }
}


.product-card {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 15px;
}

.product-item {
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
}


.buttons {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 auto; 
    max-width: 150px;
    
}

#element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#populære-produkter {
    font-size: 30px;
    position: relative;
    height: 100vh;
    
}


  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
 
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
 
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
 
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
 
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


reviews
.checked {
    color: orange;
  }





